* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
  font-family: "Libre Baskerville", serif;
}

/*hero section */
.heroWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbdee7;
  height: 100vh;
  gap: 20px;
}
.Hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Hero i {
  font-size: 2rem;
  color: #234555;
}
.Hero span {
  font-size: 2rem;
  color: #234555;
}
.Hero h1 {
  font-size: 6rem;
  color: #234555;
  width: 60%;
}
.Hero button {
  padding: 15px;
  width: 20%;
  background-color: #234555;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-size: 18px;
}
/*About Section */
.aboutWrap {
  height: 100vh;
  background-color: #b6d5e4;
}

.about {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.about-child1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.about-child2 {
  width: 50%;
}
.about-child1 h2 {
  font-size: 4rem;
  color: #234555;
}
.about-child1 p {
  text-align: center;
  font-size: 20px;
  color: #234555;
}
.about-child2 img {
  width: 100%;
  height: 95vh;
}

/* OUR SERVICES */
.services {
  background-color: #cbdee7;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.services h1 {
  /* padding-top: 70px; */
  color: #234555;
  font-size: 4rem;
  text-align: center;
  /* margin-bottom: 70px; */
}
.serviceCard-wrap {
  /* margin-top: 200px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.services-card {
  padding: 10px;
  text-align: center;
  color: #234555;
}
.services-card i {
  font-size: 8rem;
}
/* TESTIMONIAL */
.testimonial {
  background-color: #b6d5e4;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.testimonial h1 {
  color: #234555;
  font-size: 4rem;
  text-align: center;
}
.testimonialCard-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.testimonial-card {
  padding: 10px;
  text-align: center;
  width: 20%;
  color: #234555;
}
.testimonial-card img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: fill;
}
/* call to action  */

.action {
  height: 100vh;
  background-color: #cbdee7;
  display: flex;
}
.actionChild-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.actionChild1 i {
  font-size: 25rem;
  color: #234555;
}
.actionChild2 {
  width: 50%;
}
.actionChild2 p {
  color: #234555;
  font-size: 3.4rem;
}
/* CONTACT */
.contact {
  height: 100vh;
  width: 100%;
  background-color: #b6d5e4;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 100px;
}
/* .contact-image {
  height: 100vh;
} */
.contact .contact-image img {
  width: 100%;
  height: 50vh;
}
.contact-content {
  color: #234555;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
}
.contactContent-wrap {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.contactContentChild h3 {
  color: #234555;
  font-size: 1.1rem;
}
.contactContentChild p {
  color: #234555;
  font-size: 16px;
}

@media (max-width: 767px) {
  .heroWrap {
    width: 100%;
    height: 100vh;
  }
  .Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .heroIcon i {
    font-size: 24px;
  }
  .heroIcon span {
    font-size: 24px;
  }
  .Hero h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .Hero button {
    width: 50%;
    font-size: 14px;
    padding: 10px;
  }

  /* About Section */
  .aboutWrap {
    padding: 10px;
    width: 100%;
  }
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .about-child1 h2 {
    font-size: 2rem;
    color: #234555;
    /* margin-bottom: 5vh; */
  }
  .about-child1 p {
    font-size: 20px;
    color: #234555;
  }
  .about-child2 img {
    height: 90%;
    width: 90%;
  }
  .about-child2 {
    width: 100%;
  }
  .services {
    height: 100%;
    width: 100%;
  }
  .serviceCard-wrap {
    display: flex;
    flex-direction: column;
  }

  /* .testimonialCard-wrap {
    display: flex;
    flex-direction: column;
  } */

  /* .testimonial h1 {
    font-size: 2rem;
    text-align: center;
  } */
  /* .testimonial-card img {
    height: 90%;
    width: 90%;
    border-radius: 50%;
    object-fit: fill;
  } */
  /* .actionChild-wrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .actionChild1 i {
    font-size: 7rem;
  } */

  .testimonial {
    width: 100%;
    height: 100%;
  }
  .testimonialCard-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .testimonial-card {
    width: 90%;
    /* height: 100%; */
  }
  .testimonial h1 {
    font-size: 2rem;
    text-align: center;
  }
  .action {
    width: 100%;
  }
  .actionChild-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .actionChild1 i {
    font-size: 10rem;
    text-align: center;
  }
  .actionChild2 p {
    font-size: 24px;
  }

  .contact {
    height: 100%;
    width: 100%;
  }
  .contact-image img {
    height: 50vh;
    width: 100%;
  }
  .contact-heading {
    text-align: center;
    font-size: 2rem;
  }
  .contactContent-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .contact-content {
    display: flex;
    gap: 10px;
  }
}
